amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
billiard==3.6.4.0
black==21.6b0
boto3==1.17.95
botocore==1.20.95
cached-property==1.5.2
celery==5.1.0
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
connexion==2.7.0
coreapi==2.3.3
coreschema==0.0.4
dataclasses==0.6
distlib==0.3.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.4
django-celery-beat==2.2.0
django-cors-headers==3.7.0
django-countries==7.2.1
django-filter==2.4.0
django-heroku==0.3.1
django-phonenumber-field==5.2.0
django-storages==1.11.1
django-timezone-field==4.1.2
djangorestframework==3.12.4
drf-yasg==1.20.0
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
identify==2.2.10
idna==2.10
importlib-metadata==4.5.0
importlib-resources==5.1.4
inflection==0.5.1
isodate==0.6.0
itsdangerous==2.0.1
itypes==1.2.0
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
kombu==5.1.0
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nodeenv==1.6.0
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.0
pathspec==0.8.1
phonenumbers==8.12.25
Pillow==8.2.0
pre-commit==2.13.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyparsing==2.4.7
pyrsistent==0.18.0
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
s3transfer==0.4.2
six==1.16.0
sqlparse==0.4.1
static3==0.7.0
swagger-ui-bundle==0.0.8
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
Unipath==1.1
uritemplate==3.0.1
urllib3==1.26.5
vine==5.0.0
virtualenv==20.4.7
wcwidth==0.2.5
Werkzeug==2.0.1
whitenoise==5.2.0
zipp==3.4.1
